{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <titlLog in</title>
    <link  rel="stylesheet" type="text/css" href="{% static 'styles/register_login.css' %}">
</head>
<body>
<div class="signup__container">
  <div class="container__child signup__thumbnail">

    <div class="thumbnail__content text-center">
      <h1 class="heading--primary">Welcome to Travello.</h1>
      <h2 class="heading--secondary">Are you ready to come back</h2>
    </div>

    <div class="signup__overlay"></div>
  </div>
  <div class="container__child signup__form">
    <form  class="form_ct" action="" method="post">
      {% csrf_token %}
      <div class="form-group">
        <label for="username">Username</label>
        <input class="form-control" type="text" name="username" id="username" placeholder="Enter username" required />
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input class="form-control" type="password" name="password" id="password" placeholder="Enter password" required />
      </div>

      <div class="m-t-lg">
        <ul class="list-inline">
          <li>
            <input class="btn btn--form" type="submit" value="Log In" />
          </li>

        </ul>
      </div>
    </form>
    <div class="signup__link" >{% for msg in messages%}
    {{msg}}
    {% endfor %}</div>
  </div>
</div>
</body>
</html>